
    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="text-cursive">Our Team</h2>
          </div>
        </div>
        <div class="row align-items-stretch">

          {{#each findAll}}
          <div class="col-lg-3 col-md-6 mb-5">
            
            <div class="card">
              
                <div class="post-entry-1 bg-white text-center">
                  <a href="#" class="d-inline-block">
                    <img src="images/person_7.jpg" alt="Image"
                     class="img-fluid">
                  </a>
                  <h6 class="card-title">{{dataValues.FName}} {{dataValues.LName}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{dataValues.Position}}</h6>
                </div>
                <div class="card-body">
                <small class="card-text">Department:{{dataValues.Department}}</small><br>
                <small class="card-text">Email:{{dataValues.Email}}</small><br>
                <small class="card-text">Phone:{{dataValues.Phone}}</small><br>
                <small class="card-text">Skype:{{dataValues.skype}}</small><br>
                <small class="card-text text-muted  ">{{dataValues.office}}</small><br>
                <form action="/profile/{{dataValues.id}}" method="post">
                  <button class="btn btn-outline-success">Read More</button>
                </form>
                
              </div>
            </div>
            
          </div>
          {{/each}}
          


        </div>
      </div>
    </div>
    
    
    <div class="site-section">
      <div class="container">
        
        <div class="row">
          <div class="col-lg-8 mb-5" >
            <form action="#" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Email address">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="" id="" class="form-control" placeholder="Write your message." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mr-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5 rounded-0" value="Send Message">
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 ml-auto">
            <div class="bg-white p-3 p-md-5">
              <h3 class="text-cursive mb-4">Contact Info</h3>
              <ul class="list-unstyled footer-link">
                <li class="d-block mb-3">
                  <span class="d-block text-muted small text-uppercase font-weight-bold">Address:</span>
                  <small>M&M PLAZA, KG8 Avenue, Remera; <br>P.O. Box 2680 Kigali – Rwanda</small></li>
                <li class="d-block mb-3"><span class="d-block text-muted small text-uppercase font-weight-bold">Phone:</span><span>+250 781560466</span></li>
                <li class="d-block mb-3"><span class="d-block text-muted small text-uppercase font-weight-bold">Email:</span><span>hervei@arcrelief.org</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    


    <div class="site-section">
      <div class="container">
        
            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class=""><h2 class="text-cursive">Helping the Homeless, Hungry, and Hurtings Children</h2></div>
              <div class="ml-auto"><a href="#" class="btn btn-primary">Donate Now</a></div>
            </div>
        
      </div>
    </div>
    
    